body{
	font-family: 'Montserrat', sans-serif;
}
.wrapper{
	width: 1170px;
    margin: 0 auto;
}

.fix{
    clear: both;
}
p{
	margin-bottom: 12px;
	margin-top: 0px;	
	}
footer{
	background-color: #36414B;
	padding: 20px 0;
	
}
img{
    max-width: 100%;

}




header {
	background: #FFFFFF;
	padding: 20px 0;
	font-size: 0px;
}
header .logo, header .nav, header .subscribe, footer .logo, footer .nav, footer .social-network{
	display: inline-block;
	vertical-align: top;
}

header .logo{ 
 	/*margin-right: 95px;*/
}
header .nav{
	/*margin-right: 120px;*/
    margin-top: 16px;
}
header .nav ul, footer .nav ul{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .nav ul li, footer .nav ul li{
	display: inline-block;
	vertical-align: top; 
	margin-right: 28px;
}
header .nav ul li:last-child{
	margin: 0px;
}
header .nav ul li a{
	font-weight: 400;
	font-size: 16px;
	color: #85919E;
	text-decoration: none;
}
header .nav ul li a:hover{
	font-weight: 500;
	color: #A75214
}

header .subscribe{
	cursor: pointer;
	padding: 12px 24px;
	color: #FFFFFF;
	background: #F68634;
	margin-top: 4px;
	font-size: 16px;
	font-weight: 500;
	width: 155px;
	

}



.content{
	background: #F8EDE7;
	padding: 100px 0
}
.content h1{
	text-align: center;
	font-weight: 500;
	font-size: 52px;
	max-width: 670px;
	margin: 0 auto;
	margin-bottom: 80px;
	

}
.content .content-block{
	margin-top: 80px
}
.content .content-block h3{
	margin-top: 0;
	font-weight: 500;
	font-size: 28px;
	line-height: 42px;
}
.content .content-text{
	/*float: left;
	width: 555px;*/
	
	font-size: 16px;
	line-height: 24px;
}
.mr-r {
	margin-right: 50px;

}
.mr-l{
	margin-left: 50px;

}
.content-block .img{
	/*float: left;*/
}

.retreattext{
	padding-top: 68px;

}




footer .nav ul li a, footer .social-network{
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
}
footer .nav{
	margin-top: 38px;
	margin-bottom: 94px;

}
footer .logo{ 
 	/*margin-right: 96px;*/
 	margin-top: 40px;
}
footer .social-network{
	margin-top: 38px;
	/*margin-left: 100px;*/

}
footer .nav ul li:last-child{
	margin: 0px;
}
footer .social-link img{
	margin-right: 8px;
	margin-top: 10px;
}
footer .social-link img:last-child{
	margin-top: 9px;
	margin-right: 0px;

}
footer .social-link img:hover{
	cursor: pointer;
	/*background-color: #A75214;*/
	/*fill:#A75214;*/
}
footer .nav ul li a:hover{
	/*font-weight: 500;*/
	color: #A75214
}
footer .border-wrapper{
	
    border-top: solid 1px #4C5D6F;
}
footer .rights{
	/*width: 1170px;*/
    /*margin: 32px auto 12px auto;*/
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: 300px;
    font-size: 12px;
    line-height: 18px;
    color: #85919E;

}

